/* Oculta la barra de scroll en navegadores WebKit (Chrome, Safari, Edge) */
.scroll-snap-container::-webkit-scrollbar {
  display: none;
}

/* Oculta la barra de scroll en Firefox */
.scroll-snap-container {
  scrollbar-width: none;
}

/* Propiedades del snap-scroll */
.scroll-snap-container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh; /* Establece la altura del contenedor */
  position: relative; /* Ajusta la posición para el contenido hijo */
}

/* Cada pantalla del snap-scroll */
.snap-screen {
  height: 100vh; /* Ocupa la altura completa del contenedor */
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}